{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            Stocks Available
        </title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/stocks.css' %}">
    </head>
    <body>
        {% include 'navigation.html' with stocks="active" %}
        <table>
            <tr>
                <th> SID </th>
                <th> Name </th>
                <th> Net Weight </th>
                <th> Category </th>
                <th> Available </th>
                <th> Price </th>
            </tr>
            {% for dict in stocks_data %}
                <tr>
                    <td>{{dict.sid}}</td>
                    <td>{{dict.pname}}</td>
                    <td>{{dict.netweight}}</td>
                    <td>{{dict.category}}</td>
                    <td>{{dict.count}}</td>
                    <td>{{dict.price}}</td>
                </tr>
            {% endfor %}
        </table>
    </body>
</html>